
<section>
    <h2>Sign up</h2>
    
    <form [formGroup]="form" (ngSubmit)="signUp()">
        <div class="username">
            <label for="username">Username</label>
            <input type="text" formControlName="username" id="username">

            @if (username?.dirty || username?.touched) {
                @if (username?.errors?.['required']) {
                  <small class="error-message">Username is required</small>
                }
            }
            
        </div>
        
        <div class="email">
            <label for="email">Email</label>
            <input type="email" formControlName="email" id="email">

            @if (email?.dirty || email?.touched) {
                @if (email?.errors?.['required']) {
                  <small class="error-message">Email is required</small>
                }
                @else if (email?.errors?.['email']) {
                  <small class="error-message">Invalid email address</small>
                }
              }
            
        </div>
    
        <div class="password">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password">

            @if (password?.dirty || password?.touched) {
                @if (password?.errors?.['required']) {
                  <small class="error-message">Password is required</small>
                }
                @else if (password?.errors?.['minlength']) {
                  <small class="error-message">Password must be at least 8 characters</small>
                }
                @else if (password?.errors?.['maxlength']) {
                  <small class="error-message">Password must not exceed 20 characters</small>
                }
              }
            
        </div>
    
        <div class="coifirm-password">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword">

            @if (confirmPassword?.dirty || confirmPassword?.touched) {
                @if (form.errors?.['passwordMismatch']) {
                  <small class="error-message">Passwords do not match</small>
                }
              }
            
        </div>
    
        <button type="submit"  [disabled]="form.invalid">
            Register
        </button>
    
    </form>

    <small>
        Don't have an account? <a [routerLink]="['/login']"> login </a>
    </small>
</section>

@if (isError) {
    <small>
        {{ response }}
    </small>
} 
@if (isSuccess) {
    <small>
        {{ response }}
    </small>
}

<!-- spinner -->
@if (isLoading) {
    <section class="spinner-container">
        <span class="loader"></span>
    </section>
}