
<section class="blog-post">
    <h1>
        {{ title }}
        <!-- {{ blogPost.title }} -->
    </h1>
    
    <p>
        {{ body }}
        <!-- {{ blogPost.body }} -->
    </p>

</section>

<section class="add-comments">
    <h2>Add your comments</h2>
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
        <!-- <textarea type="text" formControlName="comment"> -->
        <textarea formControlName="comment" id="comments" cols="20" rows="5" placeholder="Add your comments."></textarea>
        <button type="submit">Add comments</button>
    </form>
</section>

<section class="comments">
    <h2>Comments</h2>
    <!-- <app-post-modal /> -->

    <section class="available-comments">
        @for (comment of commentsData; track $index) {
            <div class="comment">
                <p>
                    {{ comment.comment }}
                </p>

                <button class="delete-comment" (click)="deleteComment(comment.id)">
                    delete
                </button>

            </div>
        }
    </section>
</section>

