@use '../../../sass/variables' as var;
@use '../../../sass/mixins' as mix;
@use '../../../sass/function' as func;

h4 {
    font-size: func.double(var.$font-size-m);
    font-family: var.$font-varela-round;
}

p {
    font-size: var.$font-size-l;
    font-family: var.$font-fredoka;

    @include mix.flex(row, flex-start, stretch, .5);

}

span {
    @include mix.svg(20, var.$color-blue);
    cursor: pointer;
}

.interactive-btns {
    @include mix.flex(row, flex-start, center);

    
    button {
        padding: 0;
        background: none;
        border: none;
    }

}

.current-comments {
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &:hover svg path {
        stroke: var.$color-blue;
    }

    svg {
        width: 20px;
        height: 20px;

    }

}

.delete {
    &:hover svg path {
        // stroke: 1;
        stroke-width: 32px;
    }
    svg {
        width: 30px;
        height: 30px;
    
    
    }
}

.edit {
    @extend .current-comments;
}