
<!-- <form [formGroup]="postForm" (ngSubmit)="post()">
    <input type="text" formControlName="title" id="title">
    <textarea formControlName="body" id="post-body"></textarea>
    <button type="submit">Post</button>

</form> -->

<!-- <button (click)="getPosts()">
    see comments
</button> -->

<section class="create-post" >
    <button [routerLink]="['create-post']">
        Create a post
    </button>
</section>

<section class="post-container">
    <!-- @for (post of posts; track $index) { -->
    @for (post of data; track $index) {
        <app-post 
           
            [post]="post"
        />
        <!-- <div class="post">
            <p>
                {{ post.title }}
                <app-post 
                    [post]="post"
                />

            </p>
            <button class="delete" (click)="deletePost(post.id)">
                delete
            </button>
            <button>
                edit
            </button>
        </div> -->
    }
</section>