
<section>
    <!-- {{ user$.username | async }} -->
    {{ user$.email | async }}
    {{ user$.creationTime | async }}
</section>

<section class="user-details-container">
    <section class="username-section">
        <h3>Username</h3>
        <p class="username"></p>
    </section>

    <section class="email-section">
        <h3>Email</h3>
        <p class="emai"></p>
    </section>

    <section class="avatar">
        <div class="img-container"></div>
        <input type="file" name="avatar" id="avatar">
    </section>

    <section class="timestamp">
        <h3>Last login</h3>
        <p></p>
    </section>

</section>

