@use '../../sass/mixins' as mix;
@use '../../sass/variables' as var;
@use '../../sass/function' as func;

.content-container {
    width: min(700px, 90%);
    height: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    @include mix.flex(column, flex-start, center, 2);
    background-color: func.addTransparency(var.$color-white-faded, 14%);

    & > section {
        width: 100%;
        height: fit-content;
        @include mix.flex(column);

        .details {
            @include mix.flex(column);
            // border-bottom: 1px solid var.$color-white-faded, 80%;
            padding-bottom: 2rem;
            
            
            @include mix.breakpoint('large') {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                section {
                    @include mix.flex(column);
                }
    
                .username-section {
                    grid-column: 1 / 2;
                }
                .avatar {
                    grid-column: 2 / 3;
                }
                .email-section {
                    grid-row: 2;
                }
                .logout {
                    grid-column: 1 / -1;
                    
                    // button {
                    //     width: 100%;
                    // }
                }

            }

            button {
                width: 100%;
            }

        }


    }


    h4 {
        font-weight: 700;
        font-size: func.double(var.$font-size-s);
        color: var.$color-blue;
        // color: var.$color-greyish-blue;
    }
    
    p {
        // font-weight: 500;
        font-size: func.double(var.$font-size-m);

    }

}

hr {
    height: 2px;
    width: 100%;
    background-color: var.$color-white-faded;
}

.build-post {
    button {
        width: 300px;
        background-color: var.$color-white;
        border: 1px solid var.$color-white-faded;
        border-radius: 4px;
        font-weight: 600;
        
    }
}

