@use './variables' as var;

@mixin flex ($direction:row, $justify:flex-start, $align:stretch, $gap:1) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap + rem;
}

@mixin relativeSize ($width:100%, $height:100%) {
    width: $width;
    height: $height;
}

@mixin position ($position) {
    position: $position;

}

// overflow
@mixin overflow ($overflow) {
    overflow-x: $overflow;
    scrollbar-width: none;
}

// movie card
@mixin movie-card ($width) {
    overflow: hidden;
    position: relative;
    width: $width;
}

// font
@mixin font ($size: var.$font-size-l, $weight: 300, $color: var.$color-white) {
    font-family: var.$font-family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

// button
@mixin defaultButtons ($padding:1rem, $border-color:transparent, $radius:0px) {
    width: fit-content;
    height: fit-content;
    padding: $padding;
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: $radius;
    
}

@mixin buttonEffects ($effect: .7) {
    filter: brightness($effect);

}

@mixin svg ($width: 20, $hover-color: _) {
    width: $width + px;

    &:hover path {
        stroke: $hover-color;
        fill: $hover-color;
    }
}

@mixin breakpoint ($breakpoint) {
    @if map-has-key($map: var.$map-for-breakpoints, $key: $breakpoint) {
        @media (min-width: map-get(var.$map-for-breakpoints, $breakpoint)) {
            @content

        } 
    } 
    @else {
        @error "Breakpoint '#{$breakpoint}' is not defined."  
        }
}





