@use './app/sass/variables' as var;
@use './app/sass/mixins' as mix;
@use './app/sass/function' as func;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    color: var.$color-black;
    background-color: var.$color-white;
    font-family: var.$font-fredoka;
}

html, body {
    width: 100%;
    height: 100%; /* Ensure the full height is inherited */
    min-height: 100dvh;
}

app-root {
    @include mix.flex(column);
    @include mix.relativeSize();

}

// login page style
app-login, app-sign-up {
    // @include mix.flex(column);
    @extend app-root;
    justify-content: center;
    align-items: center;
    background-color: var.$color-white;
    background: color-mix(in srgb, var.$color-white 95%, transparent)
    // filter: brightness(.8);
    // backdrop-filter: brightness(.9);

}

app-navbar {
    width: 100%;
    height: 80px;
    padding: 0 3rem;
    @include mix.flex(row, space-between, center);
    
}

app-user-profile {
    @include mix.flex(column, center, center);
}

h1 {}

h2 {
    font-size: func.double(var.$font-size-l);
    font-family: var.$font-fredoka;
}

// h3 {}

// p {}

button {
    @include mix.relativeSize(fit-content, fit-content);
    @include mix.defaultButtons();
}



